<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>462216250572-nen4quadn3s4m34ucarq3frtapb3br2t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.462216250572-nen4quadn3s4m34ucarq3frtapb3br2t</string>
	<key>API_KEY</key>
	<string>AIzaSyAar9wsu9YfZuKYzXxRaYO6RcYtlxH94ck</string>
	<key>GCM_SENDER_ID</key>
	<string>462216250572</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firstApp.todoflutter</string>
	<key>PROJECT_ID</key>
	<string>firstflutter-b478f</string>
	<key>STORAGE_BUCKET</key>
	<string>firstflutter-b478f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:462216250572:ios:a86b4a593740983b2fae69</string>
</dict>
</plist>